<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="SerilogForwardingAppender" type="aspire_otel_test.SerilogForwardingAppender, aspire_otel_test">
    <!-- No layout needed, Serilog handles formatting -->
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="SerilogForwardingAppender" />
  </root>
</log4net>
